*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background-color: #cdcdcd;
}
body{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    width: 100%;
}

.header{
    
    overflow: hidden;
    padding: 10px 10px;
    background-color: #efeff1;
    border: 1px solid #cdcdcd;
    height: 10px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
}
.navbar{
    padding: 10px 10px;
    width:  1200px;
    height: 100px;
    margin: auto;
}
.nav-btn{
    background: #ffa600;
    justify-content: space-around;
    border: none;
    width: 160px;
    height: 40px;
    background: #ffa600;
    border: none;
    /* margin-bottom: 10px; */
    margin-top: 20px;
    border-radius: 10px;
    /* padding: 15px 32px;
    margin-left: 100px; */
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    padding-left: 20px;
    float: left;
    padding: auto;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
ul li a:hover{
    color: orange;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: black;
    position: relative;
    text-align: left;
    float: left;
    margin-top: 60px;
    background: #cdcdcd;
}
.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    margin-top: 1%;
    text-align: left;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 30px;
    padding-left: 20px;
    letter-spacing: 1.5px;
    margin-top: 1%;
}
.content h2{
    font-family: 'Times New Roman';
    font-size: 20px;
    padding-left: 20px;
    letter-spacing: 1.5px;
    margin-top: 1%;
}
.content .cn-btn{
    width: 160px;
    height: 40px;
    background: #ffa600;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.form{
    width: 250px;
    height: 380px;
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}
.form input{
    width: 240px;
    background: transparent;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: sans-serif;
    }

.form input:focus{
    outline: none;
}
::placeholder{
    color: #cdcdcd;
    font-family: Arial;
}
.form .form-btn{
    width: 160px;
    height: 40px;
    background: #ffa600;
    border: none;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}
.content .content_area1{
    background-color: rgb(37, 179, 239);
}
.video-advertise .video-text{
    width: 250px;
    height: 380px;
    position: absolute;
    top: 340px;
    left: 870px;
}


/* ///// */
.main_blog_container{
    display: grid;
    grid-template-columns: auto;
    margin: 20px 0px;
    justify-content: space-around;

}
.main_blog_container img{
    width: 100%;
    border-radius: 5px;

}
/* .blog{
    background-color: whitesmoke;
    border-radius: 5px;
    max-width: 290px;
    min-height: 360px;
    margin-top: 20px;
    box-shadow: 5px 5px #f5f1f1;
}
.blog h2{ */
    margin: 5px;
}

#blog_description{
    font-size: 14px;
    margin: 5px;
}
.learn_more_blog_button{
    margin: 20px auto;
    background-color: #ff8800;
    color: white;
    padding: 10px 20px;
    border: 1px solid orange;
    font-weight: bold;
    height: 40px;
    vertical-align: middle;
}

.footer{
    display: grid;
    background-color: #cdcdcd;
    grid-template-columns: auto;

}
.footer div{
    margin: 10px;
}
.footer hr{
    width: 70%;
    float: left;
    margin: 0px;
}
.footer h3{
    color: black;
}
.footer li{
    display: block;
    margin: 5px;

}
.footer ul{
    padding: 0px;
}
.footer a{
    text-decoration: none;
    color: #3a3a3a;
}

@media(min-width:762px)
{
    .main_blog_container{
        grid-template-columns: auto auto;
        justify-content: space-around;
    }
    .learn_more_blog_button{
        margin: auto;
    }

}


.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.blog::after {
    content: "";
    clear: both;
    display: table;
}
.blog {
    display: flex;
} 

.column {
    flex: 33.33%;
    padding: 5px;
}
@media screen and (max-width: 500px) {
    .column {
    width: 100%;
    }
}


